.user-panel__container {
    place-items: center;
}

.perfil__title {
    height: 130px;
}

.perfil__portrait {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-2);
}

.perfil__form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted;
    padding: 20px 0;
}
.form__container{
        width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}

.form__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    outline: none;
    gap: 30px
}


.form__name input,
.form-floating {
    width: 100%;
    height: 100%;
}

.form__direction {
    width: 80%;
    height: 100%;
}

.hr {
    width: 80%;
    border: 1px solid #ccc;
}

.perfil__form--button {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-send {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .user-panel__container {
        grid-template-columns: auto;
        gap: 50px;
    }

    .perfil__form {
        gap: 30px;
    }
}

@media screen and (max-width: 640px) {
        .form__name {
                flex-direction: column;
            }
}

@media screen and(max-width: 480px) {

}