.new-date__container h2{
text-align: center;
}
.new-date__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted var(--color-1);
    gap: 30px;
}

.newDate__form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-date__calendar {
    width: 80%;
    height: 300px;
    border: 1px dotted;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.new-date__calendar input, .new-date button{
    width: 100%;
}


.form__date{
    width: 200px;
    height: 200px;
    border: 1px solid
}
.form__date--btn{
display: flex;
justify-content: center;
align-items: center;
}
@media screen and (max-width: 900px) {
    .user-panel__container {

        grid-template-columns: auto;
    }
}

@media screen and (max-width: 640px) {
        .new-date__calendar {
                flex-direction: column
            }
}
@media screen and (max-width: 480px) {
    .perfil__portrait {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-2);
        gap: 20px;
    }


    .user-panel__container {
        grid-template-columns: auto;
    }

    .card {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card__status {
        display: none;
    }

    .card__status-mobile {
        display: block;
    }

    .card__info {
        width: 100%;
    }

    .card__operations {
        width: 100%;
        flex-direction: row;
        border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
    }
}
